/* Ensure proper sizing */
* {
    box-sizing: border-box;
}

/* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

body {
    background-image: url("../png/map.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*background-color: #eeeeee;*/
    font-family: Arial, Helvetica, sans-serif;
}

.b-image {

}

.image-saction {
    text-align: center;
    justify-content: center;
}

.section-style {
    text-align: center;
    margin: 10px;
}

.bar {
    overflow: hidden;
    font-size: 20px;
    background-color: black;
}

.bar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.bar a.right {
    float: right;
}

.bar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}